Telegramm-Vegetarian-Food/__pycache__/config.cpython-39.pyc
Telegramm-NASA/config.py
Budjet-bot/client_secret.json
Budjet-bot/config.py
Budjet-bot/__pycache__/config.cpython-39.pyc
Telegramm-Vegetarian-Food/config.py
Telegramm-NASA/__pycache__/config.cpython-39.pyc

Train-Bot/Bot
Application for new series/my_file.txt
